<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeTransferUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeTransferUploader.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenCreationDate" serializeAs="String">
                <value>1900-01-01</value>
            </setting>
        </WeTransferUploader.Properties.Settings>
    </userSettings>
</configuration>